.projectText{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
}
.projectText h1{
    font-size: 20px;
    font: bold;
}
.projectText h2{
    font-size: 18px;
    font: bold;
}
.projectText a{
    display: inline-block;
}
.projectText a:hover{
    border-color: white;
}
body{
    background-color: black;
}